$main: #F7F7F7;
$secondary: #BDA0CB;
$transparency: 0.8;

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body.playbook {
  background-color: $main;
}

section#zazu {
  background-color: #dfdfdf;
  -webkit-app-region: drag;
  cursor: move;
  border-radius: 4px;
  border: 1px solid #ccc;

  .searchInputWrapper {
    padding: 24px;
    background-color: #eee;
    border-radius: 4px 4px 0px 0px;
  }

  input {
    outline: none;
    font-size: 32px;
    padding: 6px 10px;
    border: 0;
    background-color: white;
    -webkit-app-region: no-drag;
    cursor: auto;
    
    width: calc(100% - 20px);
    border-radius: 4px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }

  iframe#preview {
    border: 0;
  }

  div.results {
    display: flex;
    flex-direction: row;

    ul {
      padding: 0;
      margin: 0;
      max-height: 333px;
      overflow: hidden;
      width: 50%;
      border-top: 1px solid #ccc;

      &:last-child {
        width: 100%;
      }

      + div {
        width: 50%;
      }

      li {
        display: block;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #ccc;
        -webkit-app-region: no-drag;
        cursor: pointer;
        width: calc(100% - 40px);
        padding: 2px 20px;
        transition: box-shadow 0.3s;
        transition: background-color 0.3s;

        .icon {
          text-align: center;
          line-height: 30px;
          height: 30px;
          width: 30px;
          margin: 7.5px;
          float: left;
        }

        h2, h3 {
          margin: 0;
          padding-left: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 400;
          font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }

        h2 {
          font-size: 20px;
          line-height: 25px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          &:last-child {
            line-height: 45px;
          }
        }

        h3 {
          font-size: 13px;
          line-height: 16px;
          color: #666;
          font-family: 'Consolas';
        }

        &.active {
          background-color: white;
          box-shadow: 0px 5px 10px 0px #CCC, 0px -5px 10px 0px #CCC;
        }

        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}
